<!DOCTYPE HTML>
<html>
	<head>
		<title>Tight Lipped Resource Guide</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper" class="divided">
				<!-- nav bar -->
				 <nav class="navbar">
					<span>Tight Lipped</span>
					<div class="menuContainer">
						<span class ="" id="menuToggle">&#9776;</span>
						<ul class ="" id="navMenu">
							<li><a href='/providers' class="navListItem">Find a Provider</a></li>
							<li><a href='/generalInfo' class="navListItem">General Info</a></li>
							<li><a href='/supplementalResources' class="navListItem">Supplemental Healthcare</a></li>
							<li><a href='/support' class="navListItem">Support</a></li>
							<li><a href='#conditionsDiv' class="navListItem">Conditions</a></li>
							<li><a href='#contactUs' class="navListItem">Contact Us</a></li>
						</ul>
					</div>
				 </nav>
				<!-- top banner -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Tight Lipped Resource Guide</h1>
							<p class="major"><%= aboutTightLippedDB[aboutTightLippedDB.length-1]['resource']%></p>
							<a href="https://www.tightlipped.org/" target="blank">Find our main website here: Tight Lipped Website</a>
						</div>
						<div class="image">
							<img src="images/banner.jpg" alt="" />
						</div>
					</section>

				<!-- find a provider -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Find A Provider Now</h2>
							<p><%= findAProviderDB[findAProviderDB.length-1]['Database']%></p>
							<ul class="actions stacked">
								<li><a href="/providers" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/spotlight02.jpg" alt="" />
						</div>
					</section>

				<!-- general info -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>General Info on Vulvovaginal and Pelvic Pain Conditions</h2>
							<p><%= resourcesDB[resourcesDB.length-1]['General Info about Vulvovaginal and Pelvic Pain Conditions']%></p>
							<ul class="actions stacked">
								<li><a href="/generalInfo" class="button">Learn More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/spotlight03.jpg" alt="" />
						</div>
					</section>
				
				<!-- Supplemental Healthcare Resources -->
				<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
					<div class="content">
						<h2>Supplemental Healthcare Resources</h2>
						<p><%= supplementalHealthcareDB[supplementalHealthcareDB.length-1]['Product/Service']%></p>
						<ul class="actions stacked">
							<li><a href="/supplementalResources" class="button">Learn More</a></li>
						</ul>
					</div>
					<div class="image">
						<img src="images/spotlight02.jpg" alt="" />
					</div>
				</section>

				<!-- you are not alone -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>You Are Not Alone</h2>
							<p>Find Support in the Community</p>
							<ul class="actions stacked">
								<li><a href="/support" class="button">Learn More</a></li>
							</ul>
						</div>

						<!-- Gallery -->
							<!-- <div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									<a href="images/gallery/fulls/01.jpg" class="image">
										<img src="images/gallery/thumbs/01.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Ipsum Dolor</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/02.jpg" class="image">
										<img src="images/gallery/thumbs/02.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Feugiat Lorem</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/03.jpg" class="image">
										<img src="images/gallery/thumbs/03.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Magna Amet</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/04.jpg" class="image">
										<img src="images/gallery/thumbs/04.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Sed Tempus</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/05.jpg" class="image">
										<img src="images/gallery/thumbs/05.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Ultrices Magna</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/06.jpg" class="image">
										<img src="images/gallery/thumbs/06.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Sed Tempus</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/07.jpg" class="image">
										<img src="images/gallery/thumbs/07.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Ipsum Lorem</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/08.jpg" class="image">
										<img src="images/gallery/thumbs/08.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Magna Risus</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/09.jpg" class="image">
										<img src="images/gallery/thumbs/09.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Tempus Dolor</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/10.jpg" class="image">
										<img src="images/gallery/thumbs/10.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Sed Etiam</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/11.jpg" class="image">
										<img src="images/gallery/thumbs/11.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Magna Lorem</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="images/gallery/fulls/12.jpg" class="image">
										<img src="images/gallery/thumbs/12.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Ipsum Dolor</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
							</div> -->

					</section>

				<!-- conditions -->
					<section class="wrapper style1 align-center">
						<div class="inner" id ='conditionsDiv'>
							<h2>Conditions</h2>
							<p>Look up the condition you have been diagnosed with below. This is not a comprehensive list of symptoms, some symptoms may be unique to certain individuals. We always recommend seeing a specialist if possible. If you don't yet have a diagnosis, we recommend trying to find a medical provider who can give you an accurate diagnosis -- this has made an enormous difference for many of our community members who have been misdiagnosed or treated for the wrong condition!</p>
							<p>This guide has been fact-checked by members of Tight Lipped's Medical Advisory Board.</p>
							<div class="items style1 big onscroll-fade-in">
								<section>
									<span class="icon style2 major fa-sun"></span>
									<h3>Endometriosis</h3>
									<p>Pain in the pelvis, abdomen, and/or lower back. Most commonly during menstruation, but can occur at other times.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.pelvicpain.org/index.php?preview=1&option=com_dropfiles&format=&task=frontfile.download&catid=50&id=20&Itemid=1000000000000" class="button btnCustom" target="blank">International Pelvic Pain Society</a>
										</li>
										<li>
											<a href="https://www.mayoclinic.org/diseases-conditions/endometriosis/symptoms-causes/syc-20354656#:~:text=Endometriosis%20(en%2Ddoe%2Dme,the%20tissue%20lining%20your%20pelvis." class="button btnCustom" target="blank">Mayo Clinic</a>
										</li>
										<li>
											<a href="https://vulvodynia.com/conditions/endometriosis" class="button btnCustom" target="blank">Center for Vulvovaginal Disorders</a>
										</li>
										<li>
											<a href="https://www.endowhat.com/educate/" class="button btnCustom" target="blank">Endo What</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-water"></span>
									<h3>Interstitial Cystitis/Bladder Pain Syndrome</h3>
									<p>Pelvic pain and pressure. Usually feeling the need to urinate often, waking from sleep to urinate, UTI-like symptoms, painful sexual intercourse, and feeling like the bladder is never empty.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.pelvicpain.org/index.php?preview=1&option=com_dropfiles&format=&task=frontfile.download&catid=50&id=14&Itemid=1000000000000" class="button btnCustom" target="blank">International Pelvic Pain Society</a>
										</li>
										<li>
											<a href="https://www.pelvicpain.org/index.php?preview=1&option=com_dropfiles&format=&task=frontfile.download&catid=50&id=14&Itemid=1000000000000" 
											class="button btnCustom" target="blank">American Urological Association</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-bomb"></span>
									<h3>Lichen Sclerosus</h3>
									<p>Itchiness and urge to scratch. Skin may develop white patches around the vulva or anus. Skin may tear easily, bruise and even ulcerate. People may notice changes to the vulvar anatomy such as flattening of the folds of the skin and covering of the clitoris. May experience problems urinating or painful sex.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.issvd.org/resources/vulvar-lichen-sclerosus" class="button btnCustom" target="blank">ISSVD</a>
										</li>
										<li>
											<a href="https://vulvodynia.com/conditions/lichen-sclerosus" 
											class="button btnCustom" target="blank">Centers for Vulvovaginal Disorders</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-cloud"></span>
									<h3>Myofascial Pelvic Pain</h3>
									<p>A type of Pelvic Floor Dysfunction.  MPP is due to pelvic floor dysfunction leading to shortened tight and tender muscles commonly with trigger point (or knots). This can cause pelvic or back pain or spasms, bladder problems such as urgency, and leakage. Bowel issues such as constipation or painful bowel movements. Vulvar pain/heaviness or pain with vaginal insertion.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.pelvicpain.org/index.php?preview=1&option=com_dropfiles&format=&task=frontfile.download&catid=50&id=22&Itemid=1000000000000" target="blank" class="button btnCustom" >International Pelvic Pain Society</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-smog"></span>
									<h3>Pelvic Floor Dysfunction</h3>
									<p>Pain in the lower abdomen, lower back, and pelvic region. Can also be accompanied by a "heaviness" and pressure of the vagina as well as vaginal insertion pain (pain with sex, tampons, etc). Urinary symptoms are also common: incontinence, increased urgency/frequency, and the feeling of incomplete emptying. Bowel symptoms are constipation, pain with defecation, and/or fecal incontinence. Pain can radiate to lower legs, hips, and lower abdomen.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.pelvicpain.org/index.php?preview=1&option=com_dropfiles&format=&task=frontfile.download&catid=50&id=22&Itemid=1000000000000" target="blank" class="button btnCustom" >International Pelvic Pain Society</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon style2 major fa-meh"></span>
									<h3>Pudendal Neuralgia</h3>
									<p>The pudendal nerve is a major nerve to the pelvic floor.  If this nerve is injured it may manifest as defecation and rectal pain, or as pain in the genitals.  Pain can be classified as stabbing, twisting, burning, pins and needles and numbness. Symptoms are often worse sitting down. Pain can radiate to inner thighs.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.pelvicpain.org/index.php?preview=1&option=com_dropfiles&format=&task=frontfile.download&catid=50&id=17&Itemid=1000000000000" class="button btnCustom" target="blank">International Pelvic Pain Society</a>
										</li>
										<li>
											<a href="https://vulvodynia.com/conditions/pudendal-neuralgia" 
											class="button btnCustom" target="blank">Centers for Vulvovaginal Disorders</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-hand-holding-heart"></span>
									<h3>Vaginismus</h3>
									<p>Also known as pelvic floor dysfunction. Can experience pain or feel like there is an obstruction inside the vagina with attempts at insertion into the vagina. Specific to pain inside of the vagina.  Can result in the involuntary contraction of pelvic floor muscles, often the ones at the entry of the vagina. May be accompanied by fear and anxiety about vaginal insertion.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.prosayla.com/articles/vaginismus" target="blank" class="button btnCustom">ISSWSH</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-star-half"></span>
									<h3>Vestibulodynia (Hormonally mediated)</h3>
									<p>Pain at the vestibule (entrance of the vagina/inner side of the labia minora). Pain could be burning, stinging, or tearing. Pain may occur when provoked or spontanously. "Provoked" could be wearing tight clothing, wiping with toilet paper, vaginal insertion, speculum exams, and/or sitting for long periods of time. </p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.prosayla.com/articles/hormonally-mediated-vestibulodynia" target="blank" class="button btnCustom" >ISSWSH</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-bolt"></span>
									<h3>Vestibulodynia (Neuroproliferative)</h3>
									<p>Similar pain as for hormonally mediated vestibulodynia PLUS may have "zapping" sensation from belly-button to vulva. Could experience pain from earliest memory or have developed at some point in life.</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.prosayla.com/articles/neuroproliferative-vestibulodynia" target="blank" class="button btnCustom" >ISSWSH</a>
										</li>
									</ul>
								</section>
								<section>
									<span class="icon solid style2 major fa-fire"></span>
									<h3>Vulvodynia</h3>
									<p>Chronic pain around the vulva, could be at a specific site like the clitoris or generalized. Most commmonly, the pain is a burning sensation. Can be "provoked" or "spontanous".</p>
									<p>More Info Below:</p>
									<ul class="actions stacked">
										<li>
											<a href="https://www.nva.org/learnpatient/definition-and-types-of-vulvodynia/" class="button btnCustom" target="blank">National Vulvodynia Association</a>
										</li>
										<li>
											<a href="https://vulvodynia.com/conditions/vulvodynia" target="blank" class="button btnCustom" >Centers for Vulvovaginal Disorders</a>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Thank You for your Support</h2>
							<p>This Resource Guide was made with the generous support of our members. Please consider contributing today.</p>
							<a href="https://www.flipcause.com/secure/cause_pdetails/MTE0MDI3" target='blank' class = "button">Donate Here</a>
						</div>
					</section>
				<!-- Seven -->
					<section class="wrapper style1 align-center">
						<div class="inner medium" id="contactUs">
							<h2>Get in touch</h2>
							<p>If you would like to connect one on one with another community member who has been diagnosed with your condition we can connect you to someone in our community. Please be respectful of our community members' time. Each of them has volunteered their time as a resource and support for other patients with the conditions listed below.</p>
							<ul class="actions stacked">
								<% for(let i = 0; i<connectionDB.length-1; i++) { %>
									<li>
										<p class="pCustom"><%= connectionDB[i]['Conditions with Volunteers']%></p>
									</li>
								<% } %>
							</ul>
							<form method="post" action="https://formspree.io/f/mgvvrnob">
								<div class="fields">
									<div class="field half">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" value="" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" value="" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
								</div>
								<ul class="actions special">
									<li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
								</ul>
							</form>

						</div>
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://x.com/tightlippedorg" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/tightlippedorg/" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/tightlippedorg/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://www.linkedin.com/company/tight-lipped/" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="info@tightlipped.org" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<a href = 'https://nancy-hunter.netlify.app/ target = 'blank'>Programming: Nancy Hunter. Design: @ajlkn HTML5 UP</a>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>